[Service]
ExecStart=/home/logan/.nvm/versions/node/v17.9.0/bin/npm run prod-start --prefix /usr/share/sbr/sbr-document-api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sbr-document-api
User=logan
Group=logan
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target